rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /cookie-monster/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /users/{uid}/drawings/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /users/{uid}/avatars/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
